body {
  font-family: Poppins;
  font-size: 12px;
  padding: 10px;
}

body h1 {
  color: #246a73;
}

table {
  table-layout: fixed;
  width: 100%;
  padding-top: 20px;
  border-collapse: collapse;
  border-top: none;
  margin-top: 20px;
}

thead {
  background-color: #246a73;
  color: white;
}

th {
  text-align: left;
  padding: 10px;
}

button {
  background-color: #246a73;
  border-color: #007095;
  color: #FFFFFF;
}


td {
  padding: 10px;
}

tr {
  border-bottom: 1px solid #bdd2d5;
}

.deviceState {
  width: 50%;
  display: flex;
  justify-content: space-between;
}


.deviceinactive {
  background-color: #bac3c8;
  color: white;
  width: 50%;
}